{% extends 'base.html' %}
{% block main %}
    <div>
        {% include 'robo/contest/contest_navbar.html' %}

        <div class="tab-content">


            <div class="tab-pane show active">
                <div wire:id="6KRlNAZNpixheJpRqPEV">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table m-0 table-hover table-borderless table-striped text-left slim-table">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>Foydalanuvchi</th>
                                    <th>Masala</th>
                                    <th>Til</th>
                                    <th>Holati</th>
                                    <th>Vaqt</th>
                                    <th>Xotira</th>
                                    <th>Yuborilgan vaqt</th>
                                </tr>
                                {% for submission in submissions %}
                                    <tr>
                                        <td>
                                            {{ submission.id }}
                                        </td>
                                        <td>
                                            <a href="{% url 'account:profile' submission.user.username %}">
                                                {{ submission.user }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ submission.problem.get_absolute_url }}">{{ submission.problem.title }}</a>
                                        </td>
                                        <td>
                                            {{ submission.lang }}
                                        </td>
                                        <td nowrap=""
                                            class="text-{% if submission.verdict == 'Accepted' %}success{% else %}danger{% endif %}">
                                            {{ submission.verdict }}
                                        </td>
                                        <td nowrap="">{{ submission.time }}ms</td>
                                        <td nowrap="">0 KB</td>
                                        <td nowrap="">
                                            {{ submission.created }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="d-flex mt-3">
                                <div class="mx-auto">
                                    <div>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item {% if not submissions.has_previous %}disabled{% endif %}">
                                                    <span class="page-link"><a style="color: #ffffff"
                                                                               href="{% if submissions.has_previous %}?page={{ submissions.previous_page_number }}{% endif %}">« Previous</a></span>
                                                </li>
                                                <li class="page-item {% if not submissions.has_next %}disabled{% endif %}">
                                                    <span class="page-link"><a style="color: #ffffff"
                                                                               href="{% if submissions.has_next %}?page={{ submissions.next_page_number }}{% endif %}">Next »</a></span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}