{% extends 'base.html' %}
{% block main %}
    {% include 'profile/profile_navbar.html' %}
    <div class="tab-content">


        <div class="tab-pane show active">
            <div class="card mb-3">
                <h4 class="card-header">Yechgan masalalari</h4>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover m-0 table-borderless table-striped text-left slim-table">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Masala</th>
                                <th>Yuborilgan vaqt</th>
                                <th>Vaqt</th>
                                <th>Xotira</th>
                                <th>Til</th>
                            </tr>
                            <tr>
                                <td>0001</td>
                                <td><a href="https://robocontest.uz/tasks/0001">A+B</a></td>
                                <td nowrap="">15.11.2020 22:25</td>
                                <td nowrap="">31 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/csharp.jpg"
                                         alt="csharp" title="csharp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/js.jpg" alt="js"
                                         title="js" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/go.jpg" alt="go"
                                         title="go" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/ruby.jpg"
                                         alt="ruby" title="ruby" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/swift.jpg"
                                         alt="swift" title="swift" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dotnet6.jpg"
                                         alt="dotnet6" title="dotnet6" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0002</td>
                                <td><a href="https://robocontest.uz/tasks/0002">Katta-kichik</a></td>
                                <td nowrap="">15.11.2020 22:28</td>
                                <td nowrap="">9 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0003</td>
                                <td><a href="https://robocontest.uz/tasks/0003">A+B</a></td>
                                <td nowrap="">28.11.2020 18:44</td>
                                <td nowrap="">13 ms</td>
                                <td nowrap="">744 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python2.jpg"
                                         alt="python2" title="python2" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0004</td>
                                <td><a href="https://robocontest.uz/tasks/0004">Direktor tashrifi</a></td>
                                <td nowrap="">19.11.2020 18:58</td>
                                <td nowrap="">4 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0005</td>
                                <td><a href="https://robocontest.uz/tasks/0005">Ko'paytma</a></td>
                                <td nowrap="">28.11.2020 18:41</td>
                                <td nowrap="">38 ms</td>
                                <td nowrap="">552 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python2.jpg"
                                         alt="python2" title="python2" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0006</td>
                                <td><a href="https://robocontest.uz/tasks/0006">Dasturchilar kuni</a></td>
                                <td nowrap="">06.12.2020 18:35</td>
                                <td nowrap="">5 ms</td>
                                <td nowrap="">1016 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0007</td>
                                <td><a href="https://robocontest.uz/tasks/0007">Bayroq</a></td>
                                <td nowrap="">13.02.2021 19:20</td>
                                <td nowrap="">3 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0008</td>
                                <td><a href="https://robocontest.uz/tasks/0008">Minimum va maksimum yig'indi</a></td>
                                <td nowrap="">20.11.2020 20:41</td>
                                <td nowrap="">6 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0009</td>
                                <td><a href="https://robocontest.uz/tasks/0009">Yolg'iz son</a></td>
                                <td nowrap="">14.12.2020 20:17</td>
                                <td nowrap="">4 ms</td>
                                <td nowrap="">1016 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0010</td>
                                <td><a href="https://robocontest.uz/tasks/0010">Yangi yil sovg'asi</a></td>
                                <td nowrap="">19.11.2020 19:12</td>
                                <td nowrap="">6 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0011</td>
                                <td><a href="https://robocontest.uz/tasks/0011">2-max</a></td>
                                <td nowrap="">21.11.2020 22:03</td>
                                <td nowrap="">5 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0012</td>
                                <td><a href="https://robocontest.uz/tasks/0012">O'yin</a></td>
                                <td nowrap="">19.12.2020 21:23</td>
                                <td nowrap="">8 ms</td>
                                <td nowrap="">1040 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0013</td>
                                <td><a href="https://robocontest.uz/tasks/0013">Virus №1</a></td>
                                <td nowrap="">21.11.2020 17:17</td>
                                <td nowrap="">3 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0014</td>
                                <td><a href="https://robocontest.uz/tasks/0014">Virus №2</a></td>
                                <td nowrap="">06.02.2021 18:31</td>
                                <td nowrap="">28 ms</td>
                                <td nowrap="">380 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/python3.jpg"
                                         alt="python3" title="python3" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0015</td>
                                <td><a href="https://robocontest.uz/tasks/0015">Virus №3</a></td>
                                <td nowrap="">26.04.2021 22:39</td>
                                <td nowrap="">6 ms</td>
                                <td nowrap="">888 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0016</td>
                                <td><a href="https://robocontest.uz/tasks/0016">Natural son</a></td>
                                <td nowrap="">09.12.2020 21:00</td>
                                <td nowrap="">6 ms</td>
                                <td nowrap="">1016 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0017</td>
                                <td><a href="https://robocontest.uz/tasks/0017">G'aroyib son</a></td>
                                <td nowrap="">05.04.2021 20:15</td>
                                <td nowrap="">338 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0018</td>
                                <td><a href="https://robocontest.uz/tasks/0018">Sehrli kvadrat</a></td>
                                <td nowrap="">27.04.2021 09:22</td>
                                <td nowrap="">13 ms</td>
                                <td nowrap="">892 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0019</td>
                                <td><a href="https://robocontest.uz/tasks/0019">Niqob - №1</a></td>
                                <td nowrap="">20.11.2020 15:19</td>
                                <td nowrap="">5 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            <tr>
                                <td>0020</td>
                                <td><a href="https://robocontest.uz/tasks/0020">Niqob - №2</a></td>
                                <td nowrap="">20.11.2020 15:21</td>
                                <td nowrap="">6 ms</td>
                                <td nowrap="">952 KB</td>
                                <td nowrap="">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/java.jpg"
                                         alt="java" title="java" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/cpp.jpg"
                                         alt="cpp" title="cpp" width="24px">
                                    <img class="rounded"
                                         src="https://robocontest.uz/assets/icons/programming-languages/dart.jpg"
                                         alt="dart" title="dart" width="24px">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-flex mt-3">
                            <div class="mx-auto">
                                <nav>
                                    <ul class="pagination">

                                        <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                                            <span class="page-link" aria-hidden="true">‹</span>
                                        </li>


                                        <li class="page-item active" aria-current="page"><span
                                                class="page-link">1</span></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=2">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=3">3</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=4">4</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=5">5</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=6">6</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=7">7</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=8">8</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=9">9</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=10">10</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=11">11</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="https://robocontest.uz/profile/muhammadjon/tasks?page=12">12</a>
                                        </li>


                                        <li class="page-item">
                                            <a class="page-link"
                                               href="https://robocontest.uz/profile/muhammadjon/tasks?page=2" rel="next"
                                               aria-label="Next »">›</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}